.detailpagebutton{
    width: 100%;
    margin-left: 30%;
}
.Organizationbutton {
    width: 220px;
    text-align: center;
    display: inline-block;
    /* margin-right:"20px" */
}
.Applybutton {
    width:220px;
    text-align: center ;
    display:inline-block;
    /* margin-left: 20px; */
}
.detailpagebutton span {
    margin-left: 10px;
}

.back-button{
    display: inline;
}

.disabled{
  pointer-events: none;
  cursor: not-allowed;
}