
.btn-profile {
    position: relative; 
    margin-top: 5%; 
    margin-bottom: 5%;
}
.profile-form {
    align-items: center; 
    display: flex; 
    justify-content: center; 
    width: 100%
}



#profile-services{
    padding-top: 7em;
    padding-bottom: 0;
}

