.guideBtn{
    margin: 0 auto;
}
.guideDiv{
    text-align: center;
    margin:0 auto;
}

.Center-Container {
    position: relative;
    height: 100%;
  }
  
  .Absolute-Center {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border: solid black;
  }


  .centerDiv {
    display: inline-block;
    background-color:black;
    /* justify-content: center;
    align-items: center; */
    margin-left: 20%;
    height: 50%;
    width: 800px;
  }