.fh5co-post  {
    overflow: scroll; 
    text-overflow: ellipsis; 
    -o-text-overflow: ellipsis;
    white-space:pre-wrap;;
    height: 200px;
    text-overflow: ellipsis; 
}
.fh5co-post p {
    color:"#989898"
} 

.user-manage {
    display: inline-block; 
    float: right;
    margin-bottom: 20px;
    margin-top: 0px;
}
.post-manage {
    margin-top: 10%;
    margin-bottom: 20%;

}
.disabled{
    pointer-events: none;
    cursor: not-allowed;
  }

#update-button {
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}