.updatebutton {
    width:200px;
    text-align: center;
}
#updateform {
    margin-left: 40%;
}

#update-button {
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}